@using OneRepMax

@{
    Layout = null;

    var weight = 135;
    var reps = 10;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OneRepMax Demo</title>
</head>
<body>
    <div>
        <h4>OneRepMax Demo</h4>
        <p>This demo is a web application but use of the OneRepMax library is not limited to web development. This library is based on C#, thus can be used in ASP.NET, console, Windows Forms and WPF applications.</p>
        <p>
            Example: Lifting @weight lbs. @reps times nets an average 1RM of @Calculate.OneRepMax(weight, reps, Formula.Average) lbs.
        </p>
    </div>
</body>
</html>