@using OneRepMax
@using OneRepMax.Strategies

@{
    Layout = null;

    const double weight = 135.0;
    const int reps = 10;

    var epley = new OneRepMaxCalculator(OneRepMaxFormula.Epley);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OneRepMax Demo</title>
</head>
<body>
    <div>
        <h4>OneRepMax Demo</h4>
        <p>This demo is a web application but use of the OneRepMax library is not limited to web development. This library is based on C#, thus can be used in ASP.NET, console, Windows Forms and WPF applications.</p>
        <p>
            Example: Lifting @weight lbs. @reps times nets an estimated 1RM of @epley.Calculate(weight, reps) lbs.
        </p>
    </div>
</body>
</html>